/* 共通スタイル */
.search {
    width: 30%;
    height: 80%;
    background-color: #ffffff;
    border-radius: 2rem;
    border: none;
    margin: 0 auto;
}

/* 商品詳細ページ */
.product-page {
    width: 90%;
    margin: 5% auto;
    display: flex;
    justify-content: space-between;
}

.items-text {
    width: 80%;
    display: flex;
    flex-direction: column;
}

/* 商品画像 */
.item_box {
    width: 80%;
    margin-bottom: 10px;
}

.product-image {
    width: 100%;
    object-fit: cover;
    display: block;
}

/* アイコン設定 */
.icon-space {
    display: flex;
    align-items: flex-start;
    gap: 2rem;
}

.icon-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.icon-container,
.like-icon {
    width: 50px;
    height: auto;
    cursor: pointer;
}

.text {
    font-size: 30px;
    font-weight: bold;
    color: #b7b7b7;
}

.product-text {
    font-size: 20px;
    font-weight: bold;
    color: #000000;
}


/* ボタン */
.purchase-button,
.comment-bottom {
    width: 100%;
    margin-top: 1rem;
}

.purchase,
.comment {
    width: 100%;
    height: 3rem;
    font-size: 1.3rem;
    background-color: #FF5555;
    color: #FFFFFF;
    border: none;
    border-radius: 0.1875rem;
    cursor: pointer;
}

/* 商品説明 */
.product-name {
    font-size: 35px;
    font-weight: bold;
}

.description,
.condition {
    font-size: 20px;
    font-weight: bold;
    margin: 20px 0;
}

.price-container {
    margin: 1rem 0;
}

.product-price {
    font-size: 25px;
    font-weight: 200;
    position: relative;
        padding-left: 1.5rem;
}

/* ¥マークを数字の前に表示 */
.product-price::before {
    content: "¥";
    position: absolute;
    left: 0;
    font-size: 25px;
    color: #000;
    font-weight: 200;
}

.condition-name {
    padding-left: 3rem;

}

.user {
    width: 100%;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}


/* アイコン画像のスタイル */
.icon-image {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
    background-color: #f9f9f9;
}

/* ユーザー名のスタイル */
.user-name {
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    align-items: center;
}

/* コメント */
.comment-space {
    width: 100%;
    margin-top: 2rem;
}

.comment-list {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 3rem;
}

.user-comment {
    width: 100%;
    margin-top: 1.5rem;
    display: flex;
    word-break: break-word;
    flex-wrap: wrap;
}


.comment-textarea {
    width: 100%;
    height: 100px;
}

/* カテゴリー全体を上下中央に配置 */
.categories {
    margin-bottom: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
}

/* カテゴリーラベルのスタイル */
.category-label {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    font-size: 0.8em;
    color: #000000;
    background-color: #b7b7b7;
    border-radius: 999px;
    white-space: nowrap;
    line-height: 1;
}

/* メディアクエリ */
/* スマホ対応 */
@media screen and (max-width: 768px) {
    .product-page {
        flex-direction: column;
    }

    .product-name {
        font-size: 20px;
    }

    .categories {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        }

        .category-label {
            font-size: 0.8rem;
    }
}

